#floating-panel {
  position: absolute;
  top: 15%;
  left: 0.75%;
  z-index: 5;
  background-color: #235469;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 65px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  box-shadow: 2px 2px 10px;
}

#criteria{
  position: absolute;
  top: 34%;
  left: 0.75%;
  z-index: 4;
  background-color: #7ECCED;
  padding-left: 213px;
  padding-right: 213px;
  padding-top: 175px;
  padding-bottom: 175px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;    
}

input[type=text]{
    height:25px;
}