body{
    font-family: 'Roboto', sans-serif;
}

a {
  color:inherit;
  text-decoration: none;
 }


.blue{
  color: blue;
}

.small-icon{
  width: 15px;
}

.background{
    position: fixed;
    background-image: url("assets/student living.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 40%;
}

.center{
    text-align: center;
}

.button{
    display: inline;
    background-color: #FBFFCC;
    padding: 4%;
    border-radius: 5%;
    text-decoration: none;
}

#floating-panel input[type=text]{
    height:25px;
}

#login input[type=text]{
    width: 400px;
    height: 35px;
    border-radius: 3%;
    border: 0;
    padding: 0;
}

#login input[type=password]{
    width: 400px;
    height: 35px;
    border-radius: 3%;
    border: 0;
    padding: 0;
}

#message-button{
    top: 5px;
    margin: auto;
    position:relative;
    background-color: #235469;
    color: white;
    text-decoration: none;
    width: 100px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px;
}

#buttons{
    width: 200px;
    position: fixed;
    top: 66%;
    left: 58.75%;
}

#buttons p{
    display: inline-block;

}

#logo{
    float:left;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 200px;
    top: 0;
    right: 410px;
}

#logotext{
    position: fixed;
    top: 110px;
    right: 425px;
    color:white;
}

#loginHeader{
    position: relative;
    top: 130px;
    color: white;
    z-index: 2;
}

#inputForm{
    font-style: italic;
    color: white;
    padding: 0;
    position:relative;
    top: 23%;
    left: 10%;
}

#inputForm p{
    margin-bottom: 3px;
}

#login{
    box-shadow: 2px 2px 10px;
    border-radius: 1%;
    position: fixed;
    top: 7%;
    left: 700px;
    float: right;
    background-color: rgba(100,161,187,0.75);
    width: 40%;
    height: 85%;
}

#floating-panel {
  position: absolute;
  top: 15%;
  left: 0.75%;
  z-index: 5;
  background-color: #235469;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 65px;
  text-align: center;
  line-height: 30px;
  box-shadow: 2px 2px 10px;
}

#headshot{
  position: fixed;
  width: 73px;
  left: 38%;
  bottom: 72%;
}

#username{
  color: white;
  position: relative;
  font-size: 10px;
  left: 19px;
  top: 37px;
}

#richmond{
  box-shadow: 2px 2px 4px;
  height: 50px;
  position: relative;
  font-size: 10px;
  background-color: white;
  padding: 5px;
  left: 92px;
  bottom: 21px;
  width: 110px;
}

#user-panel{
    box-shadow: 2px 2px 4px;
    background-color: #64A1BB;
    height: 80px;
    width: 220px;
    font-size: 14px;
    top: 21%;
    left: 37%;
    position: absolute;
    z-index: 6;
}

#search-criteria{
    color:white;
    font-size: 14px;
    top: 22%;
    left: 1.6%;
    position: absolute;
    z-index: 6;
}

#spacious-condo{

    float: left;
    width:134px;
    z-index:7;
}

#results{
  position: absolute;
  top: 33%;
  left: 0.75%;
  z-index: 4;
  background-color: #64A1BB;
  padding-left: 213px;
  padding-right: 213px;
  padding-top: 180px;
  padding-bottom: 220px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;    
}

#result1{
    background-color: white;
    padding-bottom: 20px  ;
    width: 400px;
    left: 11px;
    top: 25px;
    box-shadow: 2px 2px 4px;
    position: absolute;
    right: 30px;
    font-size: 13px;
}

#result1 h1{
    font-size: 20px;
}